::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #38b6ff;
}
::-webkit-scrollbar-thumb:hover {
    background: #2d92cd;
}
body {
    font-family: 'poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    background-color: whitesmoke;
}
* {
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.364);
    backdrop-filter: blur(16px);
    height: 80px;
    margin-left: -8px;
    position: fixed;
    top:0;
}
li {
    list-style: none;
}
.header-left .navbar ul {
    display: flex;
    justify-content: flex-end;
    margin-top: -55px;
    margin-right:70px ;
}
.header-left .navbar ul a {
    text-decoration: none;
    color: rgba(5, 159, 255);
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s;
    margin:0px 20px;
}
.header-left .navbar ul a:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s;
    font-size: 21px;
}

/* dropdown */

.list-menu {
    display: flex;
    justify-content: flex-end;
}

.list-menu .dropdown ul {
    display: none;
}

.dropdown ul {
    display: block;
    margin-top: 30px;
    margin-right:70px ;
}

.dropdown ul a{
    text-decoration: none;
    color: rgba(5, 159, 255);
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s;
    margin:0px 20px;
}
.dropdown ul a:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s;
    font-size: 21px;
}

.dropdown ul li ul a{
    display: none;
}

.dropdown ul li:hover > ul li a{
    display: block;
}


/* pembatas */

.header-logo ul {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
.header-logo {
    color: rgb(0, 0, 0);
    font-size: 29px;
    font-weight: 670;
    margin-left: 70px;
    transition: 0.3s;
}
.header-logo span {
    color: rgba(5, 159, 255);
}
main {
    margin-top: -20px;
    height: 800px;
}
#content img {
    width: 350px;
    height: 350px;
    margin-right: 110px;
    margin-top: 170px;
    transition: 0.7s;
}
#content img:hover {
    width: 390px;
    height: 390px;
    transition: 0.7s;
    margin-right: 110px;
    margin-top: 140px;
}
.container {
    display: flex;
    justify-content: flex-end;
}
.home article {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    margin-left: 180px;
    font-size: 60px;
    color: rgb(5, 134, 255);
    transition: 0.7s;
    word-spacing: 4px;
}
.home article:hover {
    font-size: 70px;
    transition-duration: 0.7s;
}
.text-1 {
    margin-top: -350px;
}
.text-1 span {
    font-size: 27px;
    transition: 0.7s;
}
.text-1 span:hover {
    font-size: 35px;
    transition: 0.7s;
}
.about {
    height: 700px;
    top: 0;
}
.about-content .left img {
    width: 310px;
    height: 380px;
    border-radius: 30px;
    margin-left: 170px;
    margin-top: 90px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.519);
}
.title1 {
    margin-top: 70px;
    font-weight: 600;
    font-size: 37px;
    font-family: 'ubuntu', sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.about .left {
    margin-left: 50px;
    display: flex;
}
.about .right {
    display: flex;
    margin-left: 50px;
    margin-top: 200px;
}
.about .right p{
    width: 70%;
    height: 140px;
}
.about .right ul{
    text-align: justify;
    margin-left: 80px;
    margin-top: -40px;
    font-family: 'poppins', sans-serif;
}
.about .right h2 {
    font-family: 'ubuntu', sans-serif;
    font-size: 30px;
}
.about .right h2 span {
    color: rgb(5, 134, 255);
}
#content li a {
    display: inline-block;
    background: rgb(5, 159, 255);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    cursor: pointer;
    border-radius: 32px;
    transition: all 0.3s ease;
    text-decoration: none;
    word-spacing: 3px;
    margin-left: 230px;
    margin-top: 60px;
}
#content li a:hover {
    background: rgb(57, 179, 255);
    padding: 16px 40px;
}
.header-left .fa-solid {
    margin-right: 5px;
}

.skill {
    height: 800px;
    background:#38b6ff7d;
    margin-top: -180px;
}
.skill .title {
    padding-top: 100px;
    margin-top: 320px;
    font-weight: 600;
    font-size: 37px;
    font-family: 'ubuntu', sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.skill ul {
    display: flex;
    justify-content: center;
}
.skill ul li {
    background-color: white;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    height: 350px;
    width: 250px;
    text-align: center;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    transition: all 0.3s;
}
.skill ul li span {
    font-size: 30px;
    font-weight: 700;
}
.skill ul li:hover {
    background-color: rgb(245, 245, 245);
    height: 360px;
    width: 260px;
    margin-top: 90px;
}
.project {
    height: 700px;
    margin-top: -5px;
}
.project .title {
    font-weight: 600;
    margin: 70px 0px 70px 0px;
    font-size: 37px;
    font-family: 'ubuntu', sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.project .serv-content .card2{
    width: calc(25% - 20px);
    background: rgb(133, 221, 255);
    text-align: center;
    margin-bottom: 40px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 20px 25px;
    cursor: pointer;
}
.project .serv-content .card2:hover{
    transition: all 0.3s;
    background: rgb(223, 246, 255);
}
.project .serv-content .card2 .box{
    transition: all 0.5s ease;
}
.project .serv-content .card2 i{
    margin-top: 20px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}
.project .serv-content .card2:hover i{
    color: rgb(0, 183, 255);
}
.project .serv-content .card2 .text{
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0 7px 0;
}
.serv-content .card2 .kalimat {
    align-items: center;
}
.serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 100px 150px 100px 150px;
}
.serv-content:hover {
    margin: 100px 150px 100px 150px;
    transition: all 1s;
}

.contact {
    margin-top: 200px;
    height: 1100px;
}
.contact .box {
    margin-top: 100px;
    background-color: #00a2ff65;
    width: 1200px;
    height: 700px;
    border-radius: 80px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3)
}
.contact .big-box {
    display: flex;
    justify-content: center;
}
.input-data, .textarea, .button {
    display: flex;
    justify-content: center;
}
input, textarea {
    border: 1px solid whitesmoke;
    background: whitesmoke;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    color:black;
    border-radius: 15px;
    outline: none;
    padding: 15px 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
textarea {
    height: 400px;
    width: 1040px;
}
input {
    margin: 100px 5px 10px 5px;
    height: 30px;
    width: 500px;
}
button {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    height: 47px;
    width: 200px;
    border: 2px;
    background: whitesmoke;
    color: #00000084;
    font-size: 20px;
    font-weight: 600;
    border-radius: 32px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    height: 50px;
    width: 203px;
    background: white;
    color: black;
    transition: all 0.3s;
    margin-top: 17px;
}

.contact .footer{
    position: relative;
    text-align: center;
    font-size: 15px;
    margin-top: 100px;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}
.contact .footer .wrapper{
    display: inline-flex;
    margin-bottom: 30px;
}
.contact .footer .wrapper .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.contact .footer .wrapper .icon span{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #38b6ff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: all 0.4s ease;
}
.contact .footer .wrapper .icon i{
    color: #fff;
    font-size: 25px;
    line-height: 60px;
}
.contact .footer .wrapper .icon:hover span{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    opacity: 1;
    pointer-events: auto;
}
.contact .footer .wrapper .facebook:hover span{
    background: #1be311;
}
.contact .footer .wrapper .instagram:hover span{
    background: red;
}
.contact .footer .wrapper .github:hover span{
    background: #111;
}
.contact p {
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
}
